* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../pics/fons.jpg');
    background-size: cover;
    background-position: 60%;
}

.formulari {
    width: 600px;
    background: #227027;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px black;
    opacity: 0.9;
}
#titol{
    font-family: 'Times New Roman', Times, serif;
}

.formulari h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #6CB271;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: brown;
}

.formulari p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.formulari a {
    color: brown;
    text-decoration: none;
}

.formulari a:hover {
    color: brown;
    text-decoration: underline;
}

