* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
}

#capa1 {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 5px;
}

nav {
    line-height: 30px;
    background-color: #3C4048;
    height: 615px;
    width: 200px;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
}

section {
    float: left;
    padding: 10px;
    margin: auto;
    width: 75%;
    padding: 10px;
    background-color: #CFD2CF;
    height: 615px;
}

article {
    background-color: #CFD2CF;
    padding: 10px;
}

aside {
    line-height: 30px;
    background-color: gainsboro;
    height: 15px;
    width: 200px;
    float: right;
    padding: 5px;
}

footer {
    background-color: #B2B2B2;
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
}

a {
    color: #fcfcfc;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

a:active {
    color: red;
}
#titolSection{
    padding-left: 10px;
    padding-top: 10px;
}