*{
    box-sizing: border-box;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}


table,
td,
th {
    border: 1px solid black;

}

table {
    border-collapse: collapse;

}

th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #8ac794;
    width: 180px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    font-size: 13px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #ecdda0;
}

#columna-darrera {
    background-color: #9dbdd4;
    font-size: medium;
}

#columna-gran {
    background-color: #f2a6a6;
}
li{
    text-align: left;
}