html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgb(2, 0, 36);
	background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

caption {
	font-family: 'Rubik Vinyl', cursive;
	font-size: 2rem;
	margin-top: 7px;
	margin-bottom: 10px;
	color: #FFFFFF;
}

.horari {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	overflow: scroll;
	display: table;
	padding: 0 0 8em 0;
	font-family: 'Roboto Mono', monospace;
}

/* ? PINTAR CADA ASSIFGNATURA D'UN COLOR ? */
.titolHora {
	background-color: #464a52;
	color: white;
}
.dies {
	background-color: #666666;
	color: #FFFFFF;
}

.daw {
	background-color: #E67C73;
}

.client {
	background-color: #ffffb6;
}

.servidor {
	background-color: #D7EFEF;
}

.disseny {
	background-color: #ECD5E3;
}

.empresa {
	background-color: #CCE2CB;
}

.hores {
	background-color: #b5b5b5;
}

.horari td,
th {
	padding-bottom: 2%;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	font-weight: 700;
	font-weight: normal;
	font-size: 1em;
}

.horari td:hover,
th:hover {
	background-color: #FF6600;
	text-decoration:solid;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: #FF7519 -1px 1px, #FF8533 -2px 2px, #FF944D -3px 3px, #FFA366 -4px 4px, #FFB380 -5px 5px,#FFC299  -6px 6px, #FFD1B3 -7px 7px,#FFE0CC  -8px 8px;
	transform: translate3d(8px, -8px, 0);
	transition-delay: 0s;
	transition-duration: 0.7s;
	transition-property: all;
	transition-timing-function: line;
}